<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Grosoeuvre</a>
        <div class="dropdown-menu dropdown-large fade-up">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted text-uppercase font-weight-bold">Collection</p>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'collection' 'grosoeuvre' 'plomberie' %}" class="p-0 pb-1" id="link_collection_item">Plomberie</a></li>
                        <li><a href="{% url 'collection' 'grosoeuvre' 'electricite' %}" class="p-0 pt-1 pb-1" id="link_collection_item">Electricite</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'collection' 'grosoeuvre' 'plomberie' %}">
                        <img src="" alt="nav-image" class="img-fluid">  
                        <p class="m-0 mt-3 text-center text-uppercase">Plomberie</p>
                    </a>
                </div>
                {% comment %}
                <div class="col-md-6">
                    <h6 class="title">Title Menu Two</h6>
                    <ul class="list-unstyled">
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                        <li><a href="#">Custom Menu</a></li>
                    </ul>
                </div>                    
                {% endcomment %}
            </div>
        </div>
    </li>
</ul>
